@import url('https://fonts.googleapis.com/css?family=Play');

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  flex-basis: 24%;
}

ul li .courses--course__button {
  flex-basis: 2%;
}

// ul li:first-child, ul li:last-child {
//   flex-basis: 25%;
//   flex-grow: 1;
// }